# Core
fastapi==0.110.1
uvicorn[standard]
python-dotenv
python-multipart

# Database
motor
pymongo

# Auth
python-jose[cryptography]
passlib[bcrypt]
pyotp
qrcode

# Email
email-validator

# Files & Images
Pillow
openpyxl
reportlab

# HTTP
httpx
aiofiles

# Misc
pydantic[email]
